@model IEnumerable<Hotel>
@{
	Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <form asp-action="CreateNewHotel" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">اسم الفندق </label>
                                <input type="text" name="Name" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="form-label">وصف الفندق</label>
                                <input type="text" name="Description" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">  صورة الفندق </label>
                                <input type="file" name="photo" />

                            </div>
                            <div class="col">
                                <label class="form-label">  موقع الفندق </label>
                                <input type="text" name="Location" class="form-control" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="form-label">   المدينة </label>
                                <input type="text" name="City" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="form-label">  السعر  </label>
                                <input type="text" name="Price" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">   تفاصيل اخرى </label>
                                <input type="text" name="Facility" class="form-control" />
                            </div>
                     

                        </div>
                        <div class="row mt-3">
                            <div class="col text-center">
                                <button type="submit" class="btn-hover color-1">حفظ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                            <tt>
                                <td>رقم الفندق</td>
                                <td>اسم الفندق</td>
                                <td>وصف الفندق</td>
                                <td>موقع الفندق</td>
                                <td> المدينة</td>
                                <td>الصورة </td>

                            </tt>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Location</td>
                                    <td>@item.City</td>
                                    <td>@item.Images</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>