@model IEnumerable<Transport>
@{
    Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
    var getdata = ViewBag.getdata;
    var GetTransportData = ViewBag.Transport;
}

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <form asp-action="CreateNewTransport" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">السعة  </label>
                                <input type="text" name="Capacity" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="form-label"> الفئة</label>
                                <select name="CategorisTransportationId" class="form-control">
                                
                                    @foreach (var item in getdata)
                                    {
                                        <option value=@item.Id>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">   اسم السيارة </label>
                                <input type="text" name="Name" class="form-control" />

                            </div>
                            <div class="col">
                                <label class="form-label">  صورة السيارة </label>
                                <input type="file" name="photo" class="form-control" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="form-label">  موديل السيارة </label>
                                <input type="text" name="City" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="form-label">  السعر  </label>
                                <input type="text" name="Model" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">   تفاصيل اخرى </label>
                                <input type="text" name="ModelVersion" class="form-control" />
                            </div>

                            <div class="col">
                                <label class="form-label">    الممشى </label>
                                <input type="text" name="Km" class="form-control" />
                            </div>

                            <div class="col">
                                <label class="form-label">    اللون </label>
                                <input type="text" name="Color" class="form-control" />
                            </div>


                        </div>
                        <div class="row mt-3">
                            <div class="col text-center">
                                <button type="submit" class="btn-hover color-1">حفظ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                            <tt>
                                <td>   الستسلسل </td>
                                <td>  اسم السيارة </td>
                                <td>  السعة </td>
                                <td>رقم الفئة </td>
                                <td>اللون </td>
                                <td> الموديل</td>
                                <td>الصورة </td>

                            </tt>
                        </thead>

                        <tbody>
                            @foreach (var item in GetTransportData)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Capacity</td>
                                    <td>@item.Categoriesid</td>
                                    <td>@item.CategoriesName</td>
                                    <td>@item.Color</td>
                                    <td>@item.Images</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>